diffusers>=0.18.1
numpy>=1.17
PyWavelets>=1.1.1
opencv-python>=4.1.0.25
accelerate
safetensors
torch>=2.0.1
transformers
onnxruntime
# unfortunately it's not possible to specify that a package be installed as --no-deps
# (see https://github.com/pypa/pip/pull/10837)
# so you should install this manualy
# invisible-watermark --no-deps
k-diffusion>=0.0.15